<!doctype html>
<html lang="en" ng-app>
    <head>
        <title>Find a route</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css"/>
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css"/>
        <link rel="stylesheet/less" type="text/css" href="angulartest.less"/>
        
        
        <script src="http://cdnjs.cloudflare.com/ajax/libs/less.js/1.4.1/less.min.js"></script>
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="http:///netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
        <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
        <script src="http://www.openstreetmap.org/openlayers/OpenStreetMap.js"></script>
        <script src="http://code.highcharts.com/highcharts.js"></script>
        <script src="https://raw.github.com/angular-ui/bootstrap/gh-pages/ui-bootstrap-tpls-0.6.0.min.js"></script>
        
        <script src="angulartest.js"></script>
        
        
    </head>
    
    <body ng-controller="RouteController">   
    
        <div class="headerAndBody">
        
            <!-- Header -->
            <div class="row header">
                <div class="col-md-12">
                    <h2>TwoPi.co.uk</h2>
                </div>
            </div>
            
            <div class="row" id="wrap">
            
                <!-- Left bar -->
                <div class="col-md-2 leftBar">
                    <div>
                        <h2>Route</h2>
                        Requested distance: {{distance}}
                        <br>
                        Routing preference: {{routingPreference}}
                        <br>
                        <ul>
                            <li ng-repeat="section in routeData">
                                <ul>    
                                    <li ng-repeat="poi in section.inboundPOIs">
                                        <a href="http://en.wikipedia.org/wiki/{{poi.wikiData.name}}">
                                            <img alt="{{poi.name}}" title="{{poi.name}}" src="{{poi.wikiData.imageUrl}}" ng-mouseover="moveMarker(poi.coord.lon, poi.coord.lat)"/>
                                        </a>
                                    </li>
                                </ul>
                                <ul>    
                                    <li ng-repeat="pic in section.inboundPics">
                                        <a href="http://www.geograph.org.uk/photo/{{pic.picIndex}}"><img title="{{pic.title}}, {{pic.dateTaken}}" alt="{{pic.title}}, {{pic.dateTaken}}" src="/geographImage/{{pic.picIndex}}" ng-mouseover="moveMarker(pic.coord.lon, pic.coord.lat)"/></a>
                                    </li>
                                </ul>
                                <div ng-mouseover="moveMarker(section.coord.lon, section.coord.lat)">{{section.cumulativeDistance.toFixed(1)}}km - {{section.edgeName}} ({{section.elevation.toFixed(0)}}m)</div>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <!-- Main content -->
                <div class="col-md-8 content">
                    <!-- define a DIV into which the map will appear. Make it take up the whole window -->
                    <div id="map">
                    </div>
                    
                    <!-- Add elevation chart at bottom from highcharts -->
                    <div id="elevation">
                    </div>
                </div>
                
                <!-- Right bar -->
                <div class="col-md-2 rightBar">
                    <h2>Actions</h2>
                    
                        <div class="form-group">
                            <label>Routing preference</label>
                            <select class="form-control" ng-model="routingPreference" ng-options="r for r in routingPreferences" required="required">
                            </select>
                        </div>
                        
                        <ul class="nav nav-tabs" id="routeMethodsTab">
                            <li class="active"><a data-target="#start" data-toggle="tab" ng-click="startMode()">A - ?</a></li>
                            <li><a data-target="#startEnd" data-toggle="tab" ng-click="startEndMode()">A - B</a></li>
                            <li><a data-target="#feelLucky" data-toggle="tab"  ng-click="feelLuckyMode()">? - ?</a></li>
                        </ul>
                        
                        <div class="tab-content">
                        
                            <div class="tab-pane active" id="start">    
                                <form ng-submit="requestRoute()">
                                    <div class="form-group">
                                        <label>Start</label>
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button" ng-click="setStart()">Pick</button>
                                            </span>
                                            <input type="text" class="form-control" placeholder="Start position" value="{{startCoord}}" readonly>
                                        </div>
                                        <label>Distance (km)</label>
                                        <input class="form-control" type="number" name="distance" ng-model="distance" required>
                                        <br>
                                        <button type="submit" class="btn btn-primary">Go!</button>
                                    </div>
                                </form>
                            </div>
                            
                            <div class="tab-pane" id="startEnd">
                                <form ng-submit="requestRoute()">
                                    <div class="form-group">
                                        <label>Start</label>
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button" ng-click="setStart()">Pick</button>
                                            </span>
                                            <input type="text" class="form-control" placeholder="Start position" value="{{startCoord}}" readonly>
                                        </div>
                                        <label>End</label>
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button" ng-click="setMid()">Pick</button>
                                            </span>
                                            <input type="text" class="form-control" placeholder="Mid position" value="{{midCoord}}" readonly>
                                        </div>
                                        <label>Distance (km)</label>
                                        <input class="form-control" type="number" name="distance" ng-model="distance" required>
                                        <br>
                                        <button type="submit" class="btn btn-primary">Go!</button>
                                    </div>
                                </form>
                            </div>
                            
                            <div class="tab-pane" id="feelLucky">
                                <form>
                                    <div class="form-group">
                                        <label>Distance (km)</label>
                                        <input class="form-control" type="number" name="distance" ng-model="distance" required>
                                        <br>
                                        <button type="submit" class="btn btn-primary">Go!</button>
                                    </div>
                                </form>
                            </div>
                            
                        </div>
                    
                        
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
        
            <!-- Footer -->
            <div class="col-md-12 footer">
                <div class="text-center" style="padding:8px">
                    Footer
                </div>
            </div>
        </div>
        
    </body>
</html>
