<div class="row" id="wrap">         
    <!-- Left bar -->
    <div class="col-md-12 leftBar">
        <div id="masonryContainer">
            <div ng-repeat="pic in pics" class="masonryItem {{pic.picClass}}">
                <div class="panel panel-info">
                    <div class="panel-body">
                        <img ng-src="/geographFull/{{pic.picIndex}}/{{pic.imgHash}}" title="{{pic.name}}" style="width: 100%"></img>
                    </div>
                    <div class="panel-heading">{{pic.title}}, {{pic.photographer}}</div>
                </div>
            </div>
        </div>
    </div>
</div>


