<div class="row">         
    <div class="col-md-12">
        <h3>About TwoPi</h3>
        
        <ul>
            <li>TwoPI is a bit different from most route planning sites.</li>
            <li>Just tell us where you want to start, how far you want to go and whether you're walking or cycling and we'll find you an endless variety of different routes.</li>
            <li>By mixing a large number of freely available geographic data sets, we automatically generate circular routes that take you along the most appropriate and pleasant streets, paths or bike tracks, past interesting sites and through attractive places.</li>
        
            <li>Having chosen a route, or set of routes you can export to any GPS unit that supports GPX routes and get going.</li>
        
        </ul>
        
        <h3>Contact</h3>
        <p>For any questions, requests, enquiries, complaints please contact: <a href="mailto:routetwopi@gmail.com">routetwopi@gmail.com</a>.</p>
        
        <h3>Credits</h3>
        
        <p>TwoPI is written using Open Source tools, and uses open and freely-available datasets. Credits below.</p>

        
        <h3>Technologies</h3>
        
        <dl>
            <dt><a href="http://www.scala-lang.org/">Scala</a></dt>
                <dd>A mixed-paradigm object-functional programming language.</dd>
            <dt><a href="http://www.scalatra.org/">Scalatra</a></dt>
                <dd>A tiny, Sinatra-like web framework for Scala.</dd>
            <dt><a href="http://www.scala-sbt.org/">sbt</a></dt>
                <dd>A fantastic build tool for Scala, Java, and more.</dd>
            <dt><a href="http://angularjs.org/">Angular JS</a></dt>
                <dd>An MVC framework for web application development</dd>
            <dt><a href="http://leafletjs.com/">Leaflet</a></dt>
                <dd>An Open-Source JavaScript Library for Mobile-Friendly Interactive Maps.</dd>
            <dt><a href="http://www.highcharts.com/">Highcharts</a></dt>
                <dd>Interactive JavaScript charts</dd>
            <dt><a href="http://getbootstrap.com/">Twitter bootstrap</a></dt>
                <dd>Twitter css/js framework for front-end web design</dd>
            <dt><a href="http://masonry.desandro.com/">Masonry</a></dt>
                <dd>Javascript cascading grid layout library</dd>                
        </dl>
        
        
        <h3>Datasets</h3>
        <dl>
            <dt><a href="http://www.openstreetmap.org">Open Street Map</a></dt>
                <dd>A collaborative project to create a free editable map of the world.</dd>
                
            <dt><a href="http://www.geograph.org.uk/">Geograph</a></dt>
                <dd>Photos of every grid square of the United Kingdom.</dd>
                
            <dt><a href="http://scenic.mysociety.org">Scenic or Not</a></dt>
                <dd>Open ratings data for Geograph photos</dd>
                
            <dt><a href="http://www2.jpl.nasa.gov/srtm/">Shuttle Radar Topography Mission</a></dt>
                <dd>Elevation data on a near-global scale to generate the most complete high-resolution digital topographic database of Earth</dd>
            
            <dt><a href="http://www.eea.europa.eu/publications/COR0-landcover">Corine Land Cover</a></dt>
                <dd>High resolution land-cover maps of the European Union.</dd>
            
            <dt><a href="http://wikipedia.org">Wikipedia</a></dt>
                <dd>A free encyclopedia built collaboratively.</dd>
            
            <dt><a href="http://wiki.dbpedia.org/About">Dbpedia</a></dt>
                <dd>A crowd-sourced community effort to extract structured information from Wikipedia.</dd>
        </dl>
    </div>
</div>
