<div class="row" style="height:100%">         
    <!-- Left bar -->
    <div class="col-md-2 controlBar">
        <h2>Actions</h2>
        
            <div class="form-group">
                <label>Routing preference</label>
                <select class="form-control" ng-model="routingPreference" ng-options="r for r in routingPreferences" required="required">
                </select>
            </div>
            
            <ul class="nav nav-tabs" id="routeMethodsTab">
                <li class="active"><a data-target="#start" data-toggle="tab" ng-click="startMode()">A - ?</a></li>
                <li><a data-target="#startEnd" data-toggle="tab" ng-click="startEndMode()">A - B</a></li>
                <li><a data-target="#feelLucky" data-toggle="tab"  ng-click="feelLuckyMode()">? - ?</a></li>
            </ul>
            
            <div class="tab-content">
            
                <div class="tab-pane active" id="start">    
                    <form ng-submit="requestRoute()">
                        <div class="form-group">
                            <label>Start</label>
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" ng-click="setStart()">Pick</button>
                                </span>
                                <input name="startCoord" type="text" class="form-control" placeholder="Start position" ng-model="startCoord">
                            </div>
                            <label>Distance (km)</label>
                            <input class="form-control" type="number" name="distance" ng-model="distance" required>
                            <br>
                            <button name="specifiedStartSubmit" type="submit" class="btn btn-primary">Go!</button>
                        </div>
                    </form>
                </div>
                
                <div class="tab-pane" id="startEnd">
                    <form ng-submit="requestRoute()">
                        <div class="form-group">
                            <label>Start</label>
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" ng-click="setStart()">Pick</button>
                                </span>
                                <input type="text" class="form-control" placeholder="Start position" ng-model="startCoord" readonly>
                            </div>
                            <label>End</label>
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" ng-click="setMid()">Pick</button>
                                </span>
                                <input type="text" class="form-control" placeholder="Mid position" ng-model="midCoord" readonly>
                            </div>
                            <input type="hidden" name="distance" ng-model="distance" value="0.0">
                            <br>
                            <button type="submit" class="btn btn-primary">Go!</button>
                        </div>
                    </form>
                </div>
                
                <div class="tab-pane" id="feelLucky">
                    <form>
                        <div class="form-group">
                            <label>Distance (km)</label>
                            <input class="form-control" type="number" name="distance" ng-model="distance" required>
                            <br>
                            <button type="submit" class="btn btn-primary">Go!</button>
                        </div>
                    </form>
                </div>
                
            </div>
            
            <hr/>
            
            <div ng-controller="TypeaheadCtrl">
                <form ng-submit="populate()" class="form">
                    <div class="form-group">
                        <label>Place search</label>
                        <div class="input-group">
                            <input id="placeSearchInput" type="text" class="form-control" placeholder="Input placename" ng-model="placename"/>
                            <span class="input-group-btn">
                                <button name="placeSearchSubmit" type="submit" class="btn btn-default">Search!</button>
                            </span>
                        </div>
                    </div>
                </form>
                <br>
                <small>
                    <ul class="list-group" id="placeSearchResults">
                        <li class="list-group-item" ng-repeat="place in foundPlaces">
                            <a ng-click="moveTo(place.boundingbox)">{{place.display_name}}</a>
                        </li>
                    </ul>
                </small>
            </div>
        
            
        </form>
    </div>
    
    
    <!-- Main content -->
    <div class="col-md-8 content">
        <!-- define a DIV into which the map will appear. Make it take up the whole window -->
        <div id="map">
        </div>
        
        <!-- Add elevation chart at bottom from highcharts -->
        <div id="elevation">
        </div>
    </div>
    
    <!-- Right bar -->
    <div class="col-md-2 routeBar">
        <div>
            <h2>Route details</h2>
            
            <form ng-submit="saveRoute()">
                <fieldset ng-disabled="(routeData == null) || (userName == null)">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Enter route name" id="routeName" ng-model="routeName">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">Save route</button>
                        </span>
                    </div>
                </fieldset>
            </form>
            <br>
            
            <table class="table table-condensed">
                <tr><td>Route type</td><td id="routePreference">{{routingPreference}}</td></tr>
                <tr><td>Distance</td><td>{{routeData.distance.toFixed(1)}}km</td></tr>
                <tr><td>Ascent</td><td>{{routeData.ascent.toFixed(0)}}m</td></tr>
            </table>
            
            <div class="text-center">
                <a href="/app/poster/{{routeId}}" class="btn btn-default">Visual route</a>
                <a href=/gpx/{{routeId}} class="btn btn-default">Export GPX</a>
            </div>
            <hr>
            
            <ul>
                <li ng-repeat="section in routeData.directions">
                    <ul>    
                        <li ng-repeat="poi in section.inboundPOIs">
                            <div ng-switch on="hasWikiData(poi)">
                                <div ng-switch-when="true">
                                    <div ng-if="hasWikiImage(poi)">
                                        <a href="http://en.wikipedia.org/wiki/{{poi.wikiData.name}}">
                                            <img alt="{{poi.name}}" title="{{poi.name}}" ng-src="{{poi.wikiData.imageUrl}}" ng-mouseover="moveMarker(poi.coord.lon, poi.coord.lat)"/>
                                        </a>
                                    </div>
                                    
                                    <div>
                                        <table><tr>
                                        <td><img src="/img/wikipediaLink.png"/></td>
                                        <td><a href="http://en.wikipedia.org/wiki/{{poi.wikiData.name}}">
                                            {{poi.name}}
                                        </a></td>
                                        </tr></table>
                                    </div>
                                </div>
                                <div ng-switch-default>{{poi.name}}</div>
                            </div>
                        </li>
                    </ul>
                    <ul>
                        <li ng-repeat="pic in section.inboundPics">
                            <a href="http://www.geograph.org.uk/photo/{{pic.picIndex}}"><img title="{{pic.title}}, Copyright {{pic.photographer}}" alt="{{pic.title}}, {{pic.dateTaken}}" ng-src="/geograph/thumb/{{pic.picIndex}}/{{pic.imgHash}}" ng-mouseover="moveMarker(pic.coord.lon, pic.coord.lat)"/></a>
                        </li>
                    </ul>
                    <div ng-mouseover="moveMarker(section.coord.lon, section.coord.lat)">{{section.cumulativeDistance.toFixed(1)}}km - {{section.edgeName}}</div>
                </li>
            </ul>
        </div>
    </div>
    
</div>
