<div id="top" class="row" style="height:100%">         
    <!-- Left bar -->
    <div class="col-md-2 controlBar">
        <h2>Actions</h2>
        
            <div popover-text="introText" popover-parse popover-placement="right" popover-trigger="onceOnly" id="makeRouteIntro" popover-container="#top">
                <div class="form-group">
                    <label>Routing preference</label>
                    <select class="form-control" ng-model="$storage.routingPreference" ng-options="r for r in routingPreferences" required="required" popover-text="Choose route type (cycling, walking etc)" popover-container="#top">
                    </select>
                </div>
                
                <ul class="nav nav-tabs" id="routeMethodsTab">
                    <li popover-text="Set a start point and a distance"><a data-target="#startMode" data-toggle="tab" ng-click="startMode()" popover-container="#top">A - ?</a></li>
                    <li popover-text="Set start and end points"><a data-target="#startEndMode" data-toggle="tab" ng-click="startEndMode()" popover-container="#top">A - B</a></li>
                    <!--<li popover-text="Just choose a distance, and we'll chose it all"><a data-target="#feelLuckyMode" data-toggle="tab"  ng-click="feelLuckyMode()">? - ?</a></li>-->
                </ul>
                
                <div class="tab-content">
                
                    <div class="tab-pane active" id="startMode">    
                        <form ng-submit="requestRoute()" name="startModeForm">
                            <div class="form-group">
                                <label>Start</label>
                                <div class="input-group">
                                    <span class="input-group-btn" popover-text="Click here to choose the start of your route" popover-container="#top">
                                        <button class="btn btn-default" type="button" ng-click="setStart()">Pick</button>
                                    </span>
                                    <span class="form-control" ng-class="{highlit : selecting=='start'}">{{renderRoutePoint($storage.startCoord)}}</span>
                                </div>
                                <label>Distance (km)</label>
                                <input class="form-control" type="number" name="distance" max="150.0" ng-model="$storage.distance" required popover-text="Choose the distance for your route." popover-container="#top">
                                <div class="flashError" ng-show="startModeForm.distance.$dirty && startModeForm.distance.$invalid">
                                    <small>Distance must be less than 150km</small>
                                </div>
                                <br>
                                <fieldset ng-disabled="$storage.startCoord==null">
                                    <button btn-loading="working" data-loading-text="Working..." name="specifiedStartSubmit" type="submit" class="btn btn-primary" required popover-text="Find a route" popover-container="#top">Go!</button>
                                    <button btn-loading="working" data-loading-text="Working..."type="button" class="btn btn-info" ng-click="routeDebug()">Debug data</button>
                                </fieldset>
                            </div>
                        </form>
                    </div>
                    
                    <div class="tab-pane" id="startEndMode">
                        <form ng-submit="requestRoute()">
                            <div class="form-group">
                                <label>Start</label>
                                <div class="input-group">
                                    <span class="input-group-btn" popover-text="Click here to choose the start of your route" popover-container="#top">
                                        <button class="btn btn-default" type="button" ng-click="setStart()">Pick</button>
                                    </span>
                                    <span class="form-control" ng-class="{highlit : selecting=='start'}">{{renderRoutePoint($storage.startCoord)}}</span>
                                </div>
                                <label>End</label>
                                <div class="input-group">
                                    <span class="input-group-btn" popover-text="Click here to choose the end of your route" popover-container="#top">
                                        <button class="btn btn-default" type="button" ng-click="setMid()">Pick</button>
                                    </span>
                                    <span class="form-control" ng-class="{highlit : selecting=='mid'}">{{renderRoutePoint($storage.midCoord)}}</span>
                                </div>
                                <input type="hidden" name="distance" ng-model="distance" value="0.0"/>
                                <br>
                                <fieldset ng-disabled="($storage.startCoord==null || $storage.midCoord==null)">
                                    <button btn-loading="working" data-loading-text="Working..."type="submit" class="btn btn-primary" required popover-text="Find a route" popover-container="#top">Go!</button>
                                </fieldset>
                            </div>
                        </form>
                    </div>
                    
                    <div class="tab-pane" id="feelLuckyMode">
                        <form>
                            <div class="form-group">
                                <label>Distance (km)</label>
                                <input class="form-control" type="number" name="distance" ng-model="$storage.distance" required>
                                <br>
                                <button btn-loading="working" data-loading-text="Working..."type="submit" class="btn btn-primary">Go!</button>
                            </div>
                        </form>
                    </div>
                    
                </div>
            </div>
            
            <hr/>
            
            <div ng-controller="PlaceSearchControl">
                <form ng-submit="populate()" class="form">
                    <div class="form-group">
                        <label>Place search</label>
                        <div class="input-group">
                            <input id="placeSearchInput" type="text" class="form-control" placeholder="Input placename" ng-model="placename" popover-text="Search for a place by name" popover-container="#top"/>
                            <span class="input-group-btn">
                                <button btn-loading="searching" data-loading-text="Searching..." name="placeSearchSubmit" type="submit" class="btn btn-default">Search!</button>
                            </span>
                        </div>
                    </div>
                </form>
            
                <div ng-switch on="foundPlaces.length == 0">
                    <div ng-switch-when="true" class="text-center">
                        No search results
                    </div>
                    <div ng-switch-default>
                        <small>
                        <ul class="list-group" id="placeSearchResults">
                            <li class="list-group-item" ng-repeat="place in foundPlaces">
                                <a ng-click="moveTo(place.boundingbox)">{{place.display_name}}</a>
                            </li>
                        </ul>
                        </small>
                    </div>
                </div>
            </div>
        
            
        </form>
    </div>
    
    
    <!-- Main content -->
    <div class="col-md-8 content">
        <!-- define a DIV into which the map will appear. Make it take up the whole window -->
        <div id="map">
        </div>
        
        <!-- Add elevation chart at bottom from highcharts -->
        <div id="elevation">
        </div>
    </div>
    
    <!-- Right bar -->
    <div class="col-md-2 routeBar">
        <div>
            <h2>Route details</h2>
            <!--
            <span class="glyphicon glyphicon-thumbs-up" style="color:blue; font-size: 1.5em"></span>
            <span class="glyphicon glyphicon-thumbs-down" style="color:grey; font-size: 1.5em"></span>
            -->
            <div ng-switch on="routeData==null">
                <div ng-switch-when="true">
                    No route loaded
                </div>
                <div ng-switch-default>
                
                    <div ng-switch on="routeName==null">
                        <div ng-switch-when="true">
                            <div class="text-center">
                                <div ng-switch on="(userName == null)">
                                    <div ng-switch-when="false">
                                        <form ng-submit="saveRoute()">
                                            <a href="/app/saveRoute/{{routeId}}" class="btn btn-info">Save route</a>
                                        </form>
                                    </div>
                                    <div ng-switch-default>
                                        <strong>(Sign in to save route)</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-switch-default>
                           <table class="table table-condensed">
                                <tr><td>Name</td><td>{{routeName.name}}</td></tr>
                                <tr><td>Description</td><td>{{routeName.description}}</td></tr>
                            </table>
                        </div>
                    </div>
                    <br>
                    
                    <table class="table table-condensed">
                        <tr><td>Route type</td><td id="routePreference">{{$storage.routingPreference}}</td></tr>
                        <tr><td>Estimated time</td><td>{{(routeData.duration/60.0).toFixed(0)}} minutes</td></tr>
                        <tr><td>Distance</td><td>{{routeData.distance.toFixed(0)}}km</td></tr>
                        <tr><td>Ascent</td><td>{{routeData.ascent.toFixed(0)}}m</td></tr>
                    </table>
                    
                    <div class="text-center">
                        <fieldset ng-disabled="routeData == null">
                            <a href="/app/summary/{{routeId}}" class="btn btn-info" popover-text="Summary of the route" popover-container="#top">Summary</a>
                            <a href="/app/poster/{{routeId}}" class="btn btn-info" popover-text="Things to see along the way" popover-container="#top">Sights</a>
                            <a href="/gpx/{{routeId}}" class="btn btn-default" popover-text="Download route for GPS (Garmin, smartphone etc)" popover-container="#top">Export GPX</a>
                        </fieldset>
                    </div>
                    
                    <hr>
                    
                    <ul>
                        <li ng-repeat="section in directions">
                            <div ng-mouseover="moveMarker(section.coord.lon, section.coord.lat)">{{section.text}}
                            </div>
                            <span ng-repeat="pic in section.outboundPics" ng-mouseover="moveMarker(pic.coord.lon, pic.coord.lat)">
                                <a href="{{'http://www.geograph.org.uk/photo/' + pic.picIndex}}">
                                    <img ng-src="/img/poiIcons/tourist_view_point.p.16.png" title={{pic.title}}></img>
                                </a>
                            </span>
                            <span ng-repeat="poi in section.outboundPOIs" ng-mouseover="moveMarker(poi.coord.lon, poi.coord.lat)">
                                <span ng-switch on="poiIcon(poi).hasLink==true">
                                    <span ng-switch-when="true">
                                        <a href="{{poiIcon(poi).link}}" class="btn btn-sm btn-default">
                                            <img ng-src="{{poiIcon(poi).icon}}" title="{{poi.name}}"></img>
                                        </a>
                                    </span>
                                    <span ng-switch-default>    
                                        <img ng-src="{{poiIcon(poi).icon}}" title="{{poi.name}}"></img>
                                    </span>
                                </span>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
</div>
