<div class="row" style="height:100%">         
    <!-- Left bar -->
    <div class="col-md-2 controlBar">
        <h2>Actions</h2>
        
            <div class="form-group">
                <label>Routing preference</label>
                <select class="form-control" ng-model="$storage.routingPreference" ng-options="r for r in routingPreferences" required="required">
                </select>
            </div>
            
            <ul class="nav nav-tabs" id="routeMethodsTab">
                <li><a data-target="#startMode" data-toggle="tab" ng-click="startMode()">A - ?</a></li>
                <li><a data-target="#startEndMode" data-toggle="tab" ng-click="startEndMode()">A - B</a></li>
                <li><a data-target="#feelLuckyMode" data-toggle="tab"  ng-click="feelLuckyMode()">? - ?</a></li>
            </ul>
            
            <div class="tab-content">
            
                <div class="tab-pane active" id="startMode">    
                    <form ng-submit="requestRoute()">
                        <div class="form-group">
                            <label>Start</label>
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" ng-click="setStart()">Pick</button>
                                </span>
                                <span class="form-control">{{lonLatToString($storage.startCoord)}}</span>
                            </div>
                            <label>Distance (km)</label>
                            <input class="form-control" type="number" name="distance" ng-model="$storage.distance" required>
                            <br>
                            <fieldset ng-disabled="$storage.startCoord==null">
                                <button name="specifiedStartSubmit" type="submit" class="btn btn-primary">Go!</button>
                                <button type="button" class="btn btn-info" ng-click="routeDebug()">Debug data</button>
                            </fieldset>
                        </div>
                    </form>
                </div>
                
                <div class="tab-pane" id="startEndMode">
                    <form ng-submit="requestRoute()">
                        <div class="form-group">
                            <label>Start</label>
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" ng-click="setStart()">Pick</button>
                                </span>
                                <span class="form-control">{{lonLatToString($storage.startCoord)}}</span>
                            </div>
                            <label>End</label>
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" ng-click="setMid()">Pick</button>
                                </span>
                                <span class="form-control">{{lonLatToString($storage.midCoord)}}</span>
                            </div>
                            <input type="hidden" name="distance" ng-model="distance" value="0.0"/>
                            <br>
                            <fieldset ng-disabled="($storage.startCoord==null || $storage.midCoord==null)">
                                <button type="submit" class="btn btn-primary">Go!</button>
                            </fieldset>
                        </div>
                    </form>
                </div>
                
                <div class="tab-pane" id="feelLuckyMode">
                    <form>
                        <div class="form-group">
                            <label>Distance (km)</label>
                            <input class="form-control" type="number" name="distance" ng-model="$storage.distance" required>
                            <br>
                            <button type="submit" class="btn btn-primary">Go!</button>
                        </div>
                    </form>
                </div>
                
            </div>
            
            <hr/>
            
            <div ng-controller="TypeaheadCtrl">
                <form ng-submit="populate()" class="form">
                    <div class="form-group">
                        <label>Place search</label>
                        <div class="input-group">
                            <input id="placeSearchInput" type="text" class="form-control" placeholder="Input placename" ng-model="placename"/>
                            <span class="input-group-btn">
                                <button name="placeSearchSubmit" type="submit" class="btn btn-default">Search!</button>
                            </span>
                        </div>
                    </div>
                </form>
                <br>
                <small>
                    <ul class="list-group" id="placeSearchResults">
                        <li class="list-group-item" ng-repeat="place in foundPlaces">
                            <a ng-click="moveTo(place.boundingbox)">{{place.display_name}}</a>
                        </li>
                    </ul>
                </small>
            </div>
        
            
        </form>
    </div>
    
    
    <!-- Main content -->
    <div class="col-md-8 content">
        <!-- define a DIV into which the map will appear. Make it take up the whole window -->
        <div id="map">
        </div>
        
        <!-- Add elevation chart at bottom from highcharts -->
        <div id="elevation">
        </div>
    </div>
    
    <!-- Right bar -->
    <div class="col-md-2 routeBar">
        <div>
            <h2>Route details</h2>
            
            <div ng-switch on="routeData==null">
                <div ng-switch-when="true">
                    No route loaded
                </div>
                <div ng-switch-default>
                    <div class="text-center">
                        <form ng-submit="saveRoute()">
                            <fieldset ng-disabled="(userName == null)">
                                <!--<button class="btn btn-default" type="submit">Save route</button>-->
                                <a href="/app/saveRoute/{{routeId}}" class="btn btn-info">Save route</a>
                            </fieldset>
                        </form>
                    </div>
                    <br>
                    
                    <table class="table table-condensed">
                        <tr><td>Route type</td><td id="routePreference">{{$storage.routingPreference}}</td></tr>
                        <tr><td>Estimated time</td><td>{{(routeData.time/60.0).toFixed(1)}} minutes</td></tr>
                        <tr><td>Distance</td><td>{{routeData.distance.toFixed(1)}}km</td></tr>
                        <tr><td>Ascent</td><td>{{routeData.ascent.toFixed(0)}}m</td></tr>
                    </table>
                    
                    <div class="text-center">
                        <fieldset ng-disabled="routeData == null">
                            <a href="/app/poster/{{routeId}}" class="btn btn-info">Visual route</a>
                            <a href=/gpx/{{routeId}} class="btn btn-default">Export GPX</a>
                        </fieldset>
                    </div>
                    
                    <hr>
                    
                    <ul>
                        <li ng-repeat="section in directions">
                            <div ng-mouseover="moveMarker(section.coord.lon, section.coord.lat)">{{section.text}}</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
</div>
