<div class="row" style="height: 50%">         
    <div class="col-md-12" style="background-size: 100%; background-image: url('/img/splashBackground.jpg')">
        <h1>Foo</h1>
        <h1>Foo</h1>
        <h1>Foo</h1>
        <h1>Foo</h1>
        <h1>Foo</h1>
        <h1>Foo</h1>
        <h1>Foo</h1>
        <h1>Foo</h1>
        <h1>Foo</h1>
        <h1>Foo</h1>
        <h1>Foo</h1>
        <h1>Foo</h1>
        <h1>Foo</h1>
        <h1>Foo</h1>
        <h1>Foo</h1>
        <h1>Foo</h1>
        <h1>Foo</h1>
        <h1>Foo</h1>
        <!--
            
    use the circle to view images in that area
    hover your mouse over the circle to get toggles to appear
    drag the center toggle to move the circle
    drag a edge toggle to resize the circle
    use the back arrow to undo a bad resize
    click inside the circle to recenter and zoom the map on the circle (useful right after changing it!)
    click a photo to get more details
    Note: This is only a sample of about 3 million images currently. Very recent images will not appear. 
        -->
        
    </div>
</div>
