<div style="height: 100%; background-size: 100%; background-image: url('/img/splashBackground.jpg'); background-repeat: no-repeat">

    <div class="row" style="height: 80%; padding-top: 2em">
        <div class="col-md-8 col-md-offset-2 container">
            <div class="jumbotron" style="opacity:0.8">
                <h1><strong>Endless UK cycling and hiking routes</strong></h1>
                
                <ul>
                    <li>Generate an infinite variety of <strong>circular</strong> walking and cycling routes at the click of a button.</li>
                    <li>Pick a starting point and a distance, and we'll tailor a set of routes for you.</li>
                    <li>We combine detailed geographic datasets and automatic algorithms to find the best circuits.</li>
                    <li>Comprehensive photos of the whole country paint a detailed picture of each route.</li>
                    <li>Each route includes full elevation profile and points of interest along the way.</li>
                    <li>Export routes to GPS for turn-by-turn navigation.</li>
                </ul>
            </div>
        </div>
        
        <div class="col-md-2 col-md-offset-5">
            <div class="text-center"><a class="btn btn-primary btn-lg btn-block" href="/app"><strong>Let's go...</strong></a></div>
        </div>
    </div>
</div>
