<div id="top" class="row" style="margin-left: 6px; margin-right: 6px">
    <div class="row" height="height:30%">
        <h3>Route summary</h3>
        
        
        <div class="col-md-6" popover-text="introText" popover-parse popover-placement="right" popover-trigger="onceOnly" id="makeSummaryIntro" popover-container="#top">
        
            <table class="table table-condensed">
                <tr><td>Name</td><td>{{routeName.name}}</td></tr>
                <tr><td>Description</td><td>{{routeName.description}}</td></tr>
                <tr><td>Route type</td><td id="routePreference">{{$storage.routingPreference}}</td></tr>
                <tr><td>Estimated time</td><td>{{(routeData.duration/60.0).toFixed(0)}} minutes</td></tr>
                <tr><td>Distance</td><td>{{routeData.distance.toFixed(0)}}km</td></tr>
                <tr><td>Ascent</td><td>{{routeData.ascent.toFixed(0)}}m</td></tr>
            </table>
            
            <div ng-switch on="routeName==null">
                <div ng-switch-when="true" class="text-center">
                    <strong>Note: route is not saved, it will only be retained for 30 days. Please login to save.</strong>
                </div>
            </div>
        
            <div id="elevation" style="height:200px">
            </div>
            
            <div class="text-center">
                <span ng-switch on="routeName==null">
                    <span ng-switch-when="true">
                        <span ng-switch on="userName!=null">
                            <span ng-switch-when="true">
                                <a href="/app/saveRoute/{{routeId}}" class="btn btn-info" popover-text="Save this route to your account" popover-container="#top">Save route</a>
                            </span>
                            <span ng-switch-default>
                                (Login to save route)
                            </span>
                        </span>
                    </span>
                </span>
                
                <span ng-switch on="$storage.startCoord!=null">
                    <span ng-switch-when="true">
                        <a ng-click="requestRoute()" btn-loading="working" data-loading-text="Working..." class="btn btn-info" popover-text="Generate another route with the same parameters" popover-container="#top">Regenerate</a>
                    </span>
                </span>
                
                <a href="/app/route/{{routeId}}" class="btn btn-info" popover-text="Display this route on the main map" popover-container="#top">Back to map</a>
                <a href="/gpx/{{routeId}}" class="btn btn-default" popover-text="Download route for GPS (Garmin, smartphone etc)" popover-container="#top">Export GPX</a>
            </div>

        </div>
        <div class="col-md-6">
            <div id="map" style="height: 400px">
            </div>
        </div>
    </div>
    
    <br>
    <div class="row">
        <div class="col-md-12 text-center">
        Images used on this page, © Copyright their respective authors; licensed for re-use under a <a href="http://creativecommons.org/licenses/by-sa/2.0/">Creative Commons Licence<a>.
        </div>
    </div>
    <br>
   
    <div class="row">
        <div class="col-md-12">
            <div id="masonryContainer">
                <div ng-repeat="pic in pics" class="masonryItem {{pic.picClass}}">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <a href="{{pic.link}}">
                                <img ng-src="{{pic.imgSrc}}" title="{{pic.title}}" style="width: 100%" ng-mouseover="moveMarker(pic.coord.lon, pic.coord.lat)"></img>
                            </a>
                        </div>
                        
                        <div class="panel-heading"><a href="{{pic.link}}">{{pic.title}}</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
